:root {
  --main-color: #e91061;
  --text-color: #333;
  --main-bg-color: #f1f1f1;
  --main-light-color: #d85f8c;

  --link-color: var(--text-color);
  --link-color-hover: var(--main-color);
}

* {
  word-break: break-all;
}

main {
  background: var(--main-bg-color);
  min-height: calc(100vh - 42px - 3px);
}

a {
  color: var(--link-color);
  &:hover {
    color: var(--link-color-hover);
    border-color: var(--link-color-hover);
  }
}

kbd {
  margin: 0 0.25rem;
  border: 0;
  color: white;
  font-size: 1rem;
}

pre {
  font-size: 0.9rem;
}
