/*custom css*/

.mermaid {
  background: transparent;
}
.sidebar-toggle{
  transform: scale(1.5);
}

.post-body img{
  box-shadow: 0 0 4px 0px #a6a6a670;
  margin:20px auto;
}

.category-all-page .category-list{
  display:flex;
}
.github-corner svg{
  fill:#E91061;
}
.headband{
  background: #E91061;
}