/* custom css */
:root {
  --main: #E91061;
  --text-color: #333;
}

.mermaid {
  background: transparent;
}

.sidebar-toggle {
  transform: scale(1.5);
  background: var(--main);
  opacity: 0.5;
  transition: 1s opacity;
}

.post-body>:not(.group-picture) img {
  box-shadow: 0 0 4px 0px #a6a6a670;
  margin: 20px auto;
}

.github-corner svg {
  fill: var(--main);
}

.headband {
  background: var(--main);
  display: block !important;
}

code {
  border-radius: 0.25rem;
  color: var(--main);
  background: #ddd;
  margin: 0 0.25rem;
  font-weight: bold;
  font-size: 1rem;
  padding: 1px 5px;
}

kbd {
  margin: 0 0.25rem;
  border: 0;
  color: white;
  font-size: 1rem;
}

pre {
  font-size: 0.9rem;
}

.post-meta-item-icon {
  margin: 0 3px;
}

/* **************highlight */
figure.highlight {
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0px 2px 5px 0 rgb(0 0 0 / 50%);
  background: var(--highlight-gutter-background);

  figcaption {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    background: unset;
  }

  .table-container {
    background: var(--highlight-background);
  }

  .table-container::-webkit-scrollbar {
    height: 3px;
  }

  .table-container::-webkit-scrollbar-thumb {
    background-color: var(--main);
  }
}

/* ***********header banner style */
.header {
  overflow: hidden;
  position: relative;
  z-index: 5;

  canvas#lokiBanner {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    z-index: -1;
  }

  .header-inner {
    padding-top: 40px;

    .main-menu a {
      color: #eee;
      transition: 1s;

      .badge {
        transition: 1s;
      }

      &:hover, &.menu-item-active {
        color: var(--main);
        border-bottom: 1px solid var(--main);

        .badge {
          background-color: var(--main);
          color: #eee;
        }
      }
    }
  }
}

a:hover {
  color: var(--main);
  border-bottom: 1px solid var(--main);
}

.site-nav-toggle, .site-nav-right {
  .toggle {
    color: #fff;

    .toggle-line {
      background: #fff;
    }
  }
}

/* ************main page imgbox */
.main {
  background: #f1f1f1;
  min-height: calc(100vh - 66px - 3px);
}

.lokiIndex {
  background: white;
  margin-bottom: 30px;
  padding: 30px;
  position: relative;
  z-index: 0;

  header.post-header {
    margin-bottom: 10px;
  }

  header, .post-button, .post-body>p:nth-child(2) {
    position: relative;
    z-index: 5;
  }

  a.fancybox {
    position: absolute;
    bottom: 0;
    height: 100%;
    width: 50%;
    pointer-events: none;
    border: 0;
    transition: 1s;
    filter: opacity(0.5);

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      margin: 0;
      max-width: unset;
      max-height: unset;
    }
  }

  .post-eof {
    display: none;
  }
}

.post-block:nth-child(odd)>.lokiIndex a.fancybox {
  right: 0;

  img {
    -webkit-mask-image: linear-gradient(to right, #0000 0%, #000f);
  }
}

.post-block:nth-child(even)>.lokiIndex a.fancybox {
  left: 0;

  img {
    -webkit-mask-image: linear-gradient(to left, #0000 0%, #000f);
  }
}

/* **********article style */
article {
  tbody tr:nth-of-type(even), thead tr {
    background: var(--body-bg-color);
  }

  blockquote {
    border-left-color: var(--main);
    background: #e91e6312;
    font-size: 1rem;
    padding: 10px 15px;
    margin-bottom: 20px;
    line-height: 1.5rem;

    p {
      margin-bottom: 10px;
    }
  }

  .post-body {
    h1 {
      border-bottom: 1px solid;
      text-align: right;
    }

    h2 {
      background: #ddd;
    }

    h3 {
      border-bottom: 1px dashed;
    }

    h2, h3, h4, h5, h6 {
      border-left: 5px solid;
      padding-left: 10px;
    }

    h1, h2, h3 {
      margin-top: 3rem;
    }

    .tabs .nav-tabs .tab {
      background: #fffe;
      transition: 0.5s;
    }

    .tabs .tab-content, .tabs .nav-tabs .tab.active {
      background: #fff;
    }

    .tabs ul.nav-tabs li.tab.active {
      border-top-color: var(--main);
    }

    p.image-caption {
      margin-top: -10px;
    }

    ol, ul {
      margin-bottom: 3rem;
    }

    .note {
      border-color: #ccc;
      background: #fcfcfc;

      &:not(.no-icon)::before {
        top: 0.5rem;
      }
    }

    p, blockquote {
      a:not(.fancybox) {
        border-bottom: 1px dashed var(--main);
        color: var(--main);
        font-style: italic;
        padding-left: 5px;
        padding-right: 5px;

        &:hover {
          font-weight: bolder;
          font-style: normal;
          border-bottom-style: solid;
        }
      }
    }

    .headerlink {
      margin: 0 10px;
    }
  }
}

/* archives style */
.posts-collapse .post-content {
  &::before {
    background: var(--main);
    margin-left: -1px;
    width: 2px;
    opacity: 0.5;
  }

  .collection-title::before, .posts-collapse .post-content .collection-year::before, .post-header::before {
    background: var(--main);
  }
}

/* *********category style */
.category-all-page .category-list {
  display: flex;
  flex-wrap: wrap;
}

.category-all-page .category-list-item {
  margin: 10px;
  flex: 1 0 auto;
}

.category-list>li>a {
  color: var(--main);
  font-weight: bold;
}

/* ***********side menu******* */
.sidebar {
  .sidebar-panel-container {
    max-height: calc(100vh - 200px);

    &::-webkit-scrollbar {
      width: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: var(--main);
      border-radius: 2px;
    }
  }

  .back-to-top {
    border: var(--main) 1px solid;
    margin: 20px;
    border-radius: 5px;
    color: white;
    position: relative;
    line-height: 1.5;

    .lokiFull {
      background: linear-gradient(var(--main) 0%, #bb1352 25%, var(--main) 70%);
      position: absolute;
      left: 0;
      right: calc(100% - var(--progress));
      top: 0;
      bottom: 0;
      z-index: -1;
    }
  }
}

/* ***********footer style */
footer.footer {
  background: #666;
  color: #eee;
  padding: 5px;

  i {
    color: #eee;
  }

  :not(.post-meta-break) + .post-meta-item::before {
    content: none;
  }

  .wordcount.busuanzi-count {
    display: flex;
    justify-content: space-between;

    * {
      flex: 0 1 auto;
    }
  }
}
